
   
      <br>
        <div class="row margin-about">
                <div ><span class="float:left">
                    
                        <img src="../src/assets/02_sobre_mi_pottery.jpg" alt="" hspace="5" vspace="5" style="padding-right:30px; float: left" ></span>
                </div>
                <div><span class="float:right">
                       
                      <p class="textabout">
                            <span class="taller">Taller Pata Hueca</span>  es un proyecto que nace de la iniciativa de reconocer 
                            el talento y creatividad de quienes han empezado a trazar su camino 
                            independiente como diseñadores, productores, artistas y aprendices del 
                            oficio de la cerámica.
                            <br>
                            <br>
                            Este proyecto se materializa en una tienda y showroom de cerámica local 
                            contemporánea. Seleccionamos y comercializamos objetos decorativos y 
                            utilitarios fabricados por talentosos diseñadores y ceramistas, y los 
                            acercamos a los amantes del diseño que buscan la calidad, la originalidad 
                            y el trabajo artesanal.
                            <br>
                            <br>                    
                            Nuestros diseñadores, artesanos y artistas han trabajado previamente 
                            en diferentes proyectos artísticos y culturales, bazares. Siempre han 
                            tenido un interés por la cerámica y los objetos con los que convivimos 
                            en el día a día. Ahora con esta plataforma se manifiesta un interés común 
                            por generar una plataforma de oportunidades para quienes quieren distribuir 
                            y capitalizar su talento, así como de quienes empiezan a voltear hacia 
                            al mercado local, a revalorizar lo que existe en nuestro país y quienes 
                            apuestan por apoyar la economía mexicana adquiriendo objetos de calidad 
                            a un precio justo para todos.
                            <br> 
                            <br>                   
                            Es un emprendimiento que nace de la iniciativa de proporcionar una 
                            plataforma para quienes quieren distribuir y capitalizar su talento 
                            por medio de un mercado local y nacional, Pata Hueca revaloriza el talento 
                            y creatividad de diseñadores, productores, artistas y aprendices del oficio 
                            de la cerámica en la Ciudad de México y área metropolitana.
                            <br>
                            <br>                   
                            Con esta plataforma apoyamos la economía mexicana adquiriendo objetos 
                            de calidad a un precio justo para todos.
                      </p>
                    </div>
              </div> 
              <br>
              <p class="title-designers center">Diseñadores / Artesanos / Artistas</p>
              <ul>
                <div  class="designers"><img class="photo-designer" src="../src/assets/01_diseñador_Enrique_Corona.jpg" alt="First designer"><p class="designer-name">Enrique Corona<hr></p></div>
                <div  class="designers"><img class="photo-designer" src="../src/assets/02_diseñado_cata-echegaray-ceramista.jpg" alt="Second designer"><p class="designer-name">Cata Echegaray</p><hr></div>
                <div  class="designers"><img class="photo-designer" src="../src/assets/03_diseñador_veronica-moar-ceramica.jpg" alt="Third designer"><p class="designer-name">Verónica Moar</p><hr></div>
                <div  class="designers"><img class="photo-designer" src="../src/assets/04_Whinblossom_vajilla-profesional.jpg" alt="Fourth designer"><p class="designer-name">Sara Rodríguez</p><hr></div>
                <div  class="designers"><img class="photo-designer" src="../src/assets/05_Disenador_amasado-japones-barro-ceramica.jpg" alt="Five designer"><p class="designer-name">Alejandro Ruíz</p><hr></div>
                <div  class="designers"><img class="photo-designer" src="../src/assets/06_Diseñador_Yonobi_mercado-artesania-ceramica-1.jpg" alt="Six designer"><p class="designer-name">Carlos Martínez</p><hr></div>
              </ul>
        
</div>