<div>
    <h2 class="center-align">Carrusel</h2>


    <div class="container-fluid">

        <div class="row">
            <div class="col l3 pull-l2">
                <div>
                    <p class="blue-grey-text text-lighten-2 font-shop title-search">Buscar palabra clave:</p>
                    <form><textarea class="textarea-search" placeholder=""></textarea></form>

                    <a class=" waves-effect waves-light btn teal lighten-1 button-search">Buscar</a>
                </div>
                <ul>
                    <li class="teal-text text-lighten-1 font-shop">Ordenar por:</li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2"> Precio</a></li>
                </ul>
                <ul>
                    <li class="teal-text text-lighten-1 font-shop">Busca por categoría</li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2">Mezcaleros</a></li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2">Vasos</a></li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2">Complementos</a></li>
                </ul>
                <ul>
                    <li class="teal-text text-lighten-1 font-shop">Filtrar por precio</li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2 ">$ 0 - $ 150</a></li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2">$ 150 - $ 300</a></li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2">$ 300 - $ 350</a></li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2">$ 350 - $ 400</a></li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2">$ 400 - $ 450</a></li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2">$ 450 - $ 500</a></li>


                </ul>
            </div>

            <div id="printTotalAccesories" ></div>
        </div>






    </div>
</div>
