<div>
    <h2 class="center-align">Carrusel</h2>
    <div class="carousel carousel-slider center">
        <div class="carousel-fixed-item center">
          <a class="btn waves-effect white grey-text darken-text-2">button</a> 
        </div>
        <div class="carousel-item red white-text" href="#one!">
          <h2>First Panel</h2>
          <p class="white-text">This is your first panel</p>
        </div>
        <div class="carousel-item amber white-text" href="#two!">
          <h2>Second Panel</h2>
          <p class="white-text">This is your second panel</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
          <h2>Third Panel</h2>
          <p class="white-text">This is your third panel</p>
        </div>
        <div class="carousel-item blue white-text" href="#four!">
          <h2>Fourth Panel</h2>
          <p class="white-text">This is your fourth panel</p>
        </div>
      </div>    
    <div class="container-fluid">
        <div class="row">
            <div class="col l3">
                <div>
                    <textarea class="textarea-search" placeholder="Palabra clave"></textarea>
                    <a class=" waves-effect waves-light btn orange lighten-2 button-search">Buscar</a>
                </div>
                <ul>
                    <li class="orange-text text-lighten-2 font-shop">Ordenar por:</li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li"> Precio</a></li>
                </ul>
                <ul>
                    <li class="orange-text text-lighten-2 font-shop">Busca por categoría</li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">Mezcaleros</a></li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">Vasos</a></li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">Complementos</a></li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">Jarras</a></li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">Tazas</a></li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">Teteras</a></li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">Vajillas</a></li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">Macetas</a></li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">Floreros y Jarrones</a></li>
                </ul>
                <ul>
                    <li class="orange-text text-lighten-2 font-shop">Filtrar por precio</li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">$ 0 - $ 150</a></li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">$ 150 - $ 300</a></li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">$ 300 - $ 350</a></li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">$ 350 - $ 400</a></li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">$ 400 - $ 450</a></li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">$ 450 - $ 500</a></li>
                </ul>
            </div>
            <div id="printTotalAccesories"></div>
        </div>
    </div>
</div>
