<div>
    <div class="carousel carousel-slider center">
        <div class="carousel-item white-text images-fist" href="#one!">
          <h2>El diseño artesanal no tiene código postal</h2>
        </div>
        <div class="carousel-item white-text images-second" href="#two!">
          <h2>Objetos con alma, hechos por manos expertas.</h2>
        </div>
        <div class="carousel-item white-text images-third" href="#three!">
          <h2>Llévate un pedacito de México</h2>
        </div>
        <div class="carousel-item white-text images-fourth" href="#four!">
          <h2>Prestigio, tradición y cultura en tu casa</h2>
        </div>
      </div>    
    <div class="container-fluid">
        <div class="row">
            <div class="col l3">
                <div>
                    <textarea class="textarea-search" placeholder="Palabra clave"></textarea>
                    <a class=" waves-effect waves-light btn orange lighten-2 button-search">Buscar</a>
                </div>
                <ul>
                    <li class="orange-text text-lighten-2 font-shop">Ordenar por:</li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li"> Precio</a></li>
                </ul>
                <ul>
                    <li class="orange-text text-lighten-2 font-shop">Buscar por categoría</li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">Mezcaleros</a></li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">Vasos</a></li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">Complementos</a></li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">Jarras</a></li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">Tazas</a></li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">Teteras</a></li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">Vajillas</a></li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">Macetas</a></li>
                    <li><a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">Floreros y Jarrones</a></li>
                </ul>
                <ul>
                    <li class="orange-text text-lighten-2 font-shop">Filtrar por precio</li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">$ 0 - $ 150</a></li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">$ 150 - $ 300</a></li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">$ 300 - $ 350</a></li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">$ 350 - $ 400</a></li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">$ 400 - $ 450</a></li>
                    <li> <a href="index.html#/shop" class="blue-grey-text text-lighten-2 font-li">$ 450 - $ 500</a></li>
                </ul>
            </div>
            <div id="printTotalAccesories"></div>
        </div>
    </div>

</div>
