<div>
    <!-- <h2>products</h2>


    
    <ul id="nav-mobile" class="sidenav sidenav-fixed" style="transform: translateX(0px);">
        <li class="logo"><a id="logo-container" href="" class="brand-logo">
            <!-- <object id="front-page-logo" type="image/svg+xml" data="res/materialize.svg">Your browser does not support SVG</object></a></li> -->
        <!-- <li class="version"><a href="#" data-target="version-dropdown" class="dropdown-trigger">
            1.0.0
            <svg class="caret" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></a><ul id="version-dropdown" class="dropdown-content" tabindex="0">
            <li tabindex="0"><a>1.0.0</a></li>
            <li tabindex="0"><a href="http://archives.materializecss.com/0.100.2/">0.100.2</a></li>
          </ul>
          
        </li> -->
        <!-- <li class="search">
          <div class="search-wrapper">
            <input id="search" placeholder="Buscar"><i class="material-icons"></i>
            <div><button>Buscar</button></div>
          </div>
        </li>
        <li class="bold active"><a href="about.html" class="waves-effect waves-teal">About</a></li>
        <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Getting Started</a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">CSS</a>
             

            <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Components</a>
             
            <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">JavaScript</a>
        
            <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Forms</a>
             
            </li>
          </ul>
        </li>
        <li class="bold"><a href="mobile.html" class="waves-effect waves-teal">Mobile</a></li>
        <li class="bold"><a href="showcase.html" class="waves-effect waves-teal">Showcase</a></li>
        <li class="bold"><a href="themes.html" class="waves-effect waves-teal">Themes<span data-badge-caption="updated" class="new badge"></span></a></li>
      </ul> --> 
    <div id="printTotalAccesories"></div>
</div>