@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');
*{
    font-family: 'Roboto', sans-serif;
}
.car{
    width: 30px;
    height: 30px;
    margin-top: 5px;
}
.title-nav{
    color: #26a69a;
    font-size: 1.2em;
}
.title-nav:hover{
    color: #90a4ae;
}
.brand-logo .img-logo{
    width: 100px;
    height: 100px;
}
