@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    font-family: 'Roboto', sans-serif;
}
nav.nav{
    height: 100px;
    line-height: 100px;
    padding: 0 50px;
}

.car{
    width: 30px;
    height: 30px;
    margin-top: 5px;
}
.title-nav{
    color: #26a69a;
    font-size: 1.2em;
}
.title-nav:hover{
    color: #90a4ae;
    background-color: #fff;
}
.brand-logo .img-logo{
    width: 100px;
    height: 100px;
 }
 ul .footer-title,
h5  {
   color: #26a69a;
}
.social{
   width: 30px;
}



 /* styles Andrea */

 .font-shop{
     font-size: 1.3em;
 }
 .font-li{
    font-size: 1.1em;
 }
 .textarea-search{
    position: relative;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color:#fff;
    border-radius: 5px;
    font-size: 17px;
    color: #90a4ae;
    resize: vertical;
    font-family: 'Open Sans', sans-serif !important;
    max-height: 400px;
    min-height: 45px;
    margin-bottom: 5px;
    resize: none;
    outline: none;
 }
 .textarea-search:focus{
    border: 1px solid #ffb74d;
 }

 .button-search{
     width:100%;
 }
 .title-search{
     position: relative;
     right:7%;
 }

 .size-view{
    min-height: 80vh !important;
 }

 .shop-bag{

     font-size: 30px;
     color:#ffb74d;
 }
 .shop-bag:hover{
    color:#4db6ac;
 }

 .heart-size{
     font-size: 25px;
     color:  #424242;
 }

 .heart-size:hover{
     color:#ffb74d;
 }
 .description-size{
     font-size: 22px;
 }

 .tarjetitas{
     display: inline-block;
 }
 .footer-margin{
    border-style: solid;
    border-top-color:#e0e0e0;
 }
 .card.products{
    height: 650px;
 }
 .images-fist,
 .images-second,
 .images-third,
 .images-fourth{
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
 .images-fist{
    background-image: url('../assets/01_carousel.jpg');
 }
 .images-second{
     background-image: url('../assets/02_carousel.jpg');
}
.images-third{
    background-image: url('../assets/05_carousel.jpg');
 }
 .images-fourth{
    background-image: url('../assets/04_carousel.jpg');
 }
 .carousel.carousel-slider{
    margin-bottom: 50px;
 }
 .dropdown-content{
    width: 50% !important;
    left: 500px !important;
    top: 100px !important;
    height: auto !important;
    transform-origin: 0px 0px !important;
    opacity: 1 !important;
    transform: scaleX(1) scaleY(1) !important;
 }
 .waves-effect.waves-light.btn.btn-buy{
     width: 90%;
 }
 .img-buy{
    width: 100px;
 }
 .product{
     width: 500px;
 }

 .taller{
    color: #26a69a;
    font-weight: bold;
    font-size:1.2rem;
}
.textabout{
    
    font-family: 'Montserrat', sans-serif; 
    font-size: 1rem;
    text-align: justify
}
.size{
    width: 400px;
}
.margin-about{
    margin: 20px;
}
.title-designers{
    font-family: 'Montserrat', sans-serif; 
    font-size: 35px;
    color: #26a69a;
    font-weight: bold;
}
.designer-name{
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px;
    color: #26a69a;
    font-weight: bold;
    text-align: center;
}
.photo-designer{
    margin: 20px 20px 0 20px;
  align-items: center
    }
.designers{
    margin: 5px;
    display: inline-block;
   
}

.login-position{
    
    position: relative;
    top: 240px;

}