@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');
*{
    font-family: 'Roboto', sans-serif;
}
nav.nav{
    height: 100px;
    line-height: 100px;
    padding: 0 50px;
}
.car{
    width: 30px;
    height: 30px;
    margin-top: 5px;
}
.title-nav{
    color: #26a69a;
    font-size: 1.2em;
}
.title-nav:hover{
    color: #90a4ae;
    background-color: #fff;
}
.brand-logo .img-logo{
    width: 100px;
    height: 100px;
 }
 ul .footer-title,
h5  {
   color: #26a69a;
}
.social{
   width: 30px;
}



 /* styles Andrea */

 .font-shop{
     font-size: 1.3em;
 }
 .font-li{
    font-size: 1.1em;
 }
 .textarea-search{
    position: relative;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color:#fff;
    border-radius: 5px;
    font-size: 17px;
    color: #90a4ae;
    resize: vertical;
    font-family: 'Open Sans', sans-serif !important;
    max-height: 400px;
    min-height: 45px;
    margin-bottom: 5px;
    resize: none;
    outline: none;
 }
 .textarea-search:focus{
    border: 1px solid #ffb74d;
 }

 .button-search{
     width:100%;
 }
 .title-search{
     position: relative;
     right:7%;
 }

 .size-view{
    min-height: 80vh !important;
 }

 .shop-bag{
 
     font-size: 30px;
     color:#ffb74d;
 }

 .heart-size{
     font-size: 25px;
     color:  #424242;
 }

 .description-size{
     font-size: 22px;
 }

 .tarjetitas{
     display: inline-block;
 }
 .footer-margin{
    border-style: solid;
    border-top-color:#e0e0e0;
 }
 .card.products{
    height: 600px;
 }

